@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/anim.scss';

html{
    background: var(--primarycolor);
    font-family: 'Montserrat', sans-serif;
}

main{
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
